@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row" id="user-container">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="userId">User Id:</label>
                @*<input type="text" class="form-control" placeholder="Enter User Id" id="userId">*@
                <select id="userId" class="form-control" asp-items="@(new SelectList(Model.Users,"UserId","UserId"))"></select>
            </div>

            <div class="form-group">
                <label for="auctionId">Auction:</label>
                <select id="auctionId" class="form-control" asp-items="@(new SelectList(Model.Auctions,"AuctionId","AuctionId"))"></select>
            </div>
            @*<div class="form-group">
            <label for="maxBid">Max bid:</label>
            <input type="number" class="form-control" placeholder="Enter max bid" id="maxBid">
        </div>*@
            <button type="button" id="connectButton" class="btn btn-primary">Connect</button>

        </div>
    </div>
    <div class="row" id="bid-container" style="display: none">
        <div class="col-sm-12">
            <hr />
        </div>
        <div class="col-sm-6 form-inline">
            <label for="amount" class="mr-sm-5">Amount:</label>
            <input type="number" class="form-control mr-sm-5" placeholder="Enter amount" id="amount">
            <input type="button" id="placeButton" class="btn btn-primary" value="Place Bid" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="loading" class="text-center" style="display: none">
                <img src="~/images/tg_loading_spinner.gif" alt="loading..." />
            </div>
            <table id="bidsTable" class="table  table-striped" style="display: none">
                <thead>
                    <tr>
                        <th>Bid</th>
                        <th>User Id</th>
                        <th>Placed At</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/lodash/lodash.min.js"></script>
    <script src="~/js/Queue.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/bid.js"></script>
}
